.item {
   background-color: #44446B;
    border-radius: 15px;
    padding:12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:94%;
    margin: 0 auto;
    color:white;
    margin-top:15px;
}
.item p {
    margin:0;
}